<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862443457232-9sd89au4e79gq8s8d129c66iqpiisrfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862443457232-9sd89au4e79gq8s8d129c66iqpiisrfg</string>
	<key>API_KEY</key>
	<string>AIzaSyDP5hGun5Hqsegk-EY_isZ380iYded7XJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>862443457232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>my-chat-cd73f</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-cd73f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862443457232:ios:be7c8cd63267cb115c6cd5</string>
</dict>
</plist>